body {
    background-color: rgb(3, 15, 22); 
    color: rgb(143, 142, 240);
    font-family: monospace;
    padding: 24px;
}
/* Parte para edição do corpo do site */
.title {
    font-size: 32px;
    color: blanchedalmond;
}
/* Edição do titulo */
.list-item {
    margin-bottom: 24px; /* mexendo na borda */ 
    font-size: 24px;
}
/* Edição da classe para os itens da lista */
input {
    height: 32px; /* Edição do tamanho */
    background-color: transparent; /* Edição da cor de fundo */
    color: rgb(192, 209, 165); /* Edição da cor */
    border-color: blue; /* Edição da borda */ 
    border-radius: 6px; /* Edição do raio */
    font-size: 16px; /* Tamanho da fonte */ 
    padding: 8px; /* Para arrendondar a borda */ 
    font-family: monospace; /* mudança de fonte */

}
/* Edição dos inputs */
button {
    font-size: 16px;
    padding: 16px;
    background-color: rgb(16, 66, 49);
    border-radius: 6px;
    border-width: 0px;
    color: white;
    font-weight: bold; /* Deixando em negrito */
    font-family: monospace;
}
/* Edição do botao */